<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>스프링 로그인 수업</title>
</head>
<body>
    <div class="container">
        <h1>스프링 로그인 수업</h1>
    </div>
    <div class="container">
        <button onclick="loadUserInfo()">로그인한 유저</button>
        <header id="userInfo"></header>
        <h1 class="text-center mt-5">로그인 양식</h1>
        <form  name="loginForm" action="#" method="post" style="width: 400px" class="mx-auto">
            <div class="form-floating mb-3">
                <input type="text" name="id" class="form-control" id="floatingInput" placeholder="USER ID">
                <label for="floatingInput">username</label>
            </div>
            <div class="form-floating">
                <input type="password"  name="pw" class="form-control" id="floatingPassword" placeholder="USER PW">
                <label for="floatingPassword">password</label>
            </div>
            <div class="mt-3 text-end">
                <button class="btn btn-lg btn-success">로그인</button>
            </div>
            <hr>

        </form>
    </div>
    <p><button onclick="loadAdminUserList()">관리자 권한 유저조회</button></p>
    <div id="adminUserList"></div>
    <script>
        const loginForm=document.forms["loginForm"];
        const userInfo=document.getElementById("userInfo");
        const adminUserList=document.getElementById("adminUserList")
        const userInfoHtml=(user)=>userInfo.innerHTML=`<p>로그인한 유저 (${user.username}/${user.name})</p>`;
        loginForm.onsubmit=async (e)=>{
            e.preventDefault();
            const formData=new FormData(loginForm)
            const formDataObj=Object.fromEntries(formData.entries());
            const resp=await fetch("/user/api/login.do",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formDataObj)

            })
            console.log(resp.status)
            if(resp.ok){
                const result= await resp.json();
                userInfoHtml(result)
            }
        }
        async function loadUserInfo(user){
            if(!user){
                const resp= await fetch("/user/api/check.do")
                if(resp.ok) {
                    user=await resp.json()
                    userInfoHtml(user)
                    return;
                }
                alert("로그인 하세요.")
            }
        }
        async function loadAdminUserList(){
            const resp= await fetch("/admin/user/list.do")
            if(resp.ok) {
                const users=await resp.json()
                adminUserList.innerHTML=users
                return;
            }
            alert("권한이 없습니다.")
        }
    </script>
</body>
</html>