<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>스프링 로그인 수업</title>
    <th:block th:insert="fragment/headerNav :: head"></th:block>
</head>
<body>
    <header th:insert="fragment/headerNav :: nav"></header>
    <div class="container">
        <h1>스프링 로그인 수업</h1>
    </div>
    <h2>타임리프 sec: 보안 속성</h2>
    <ul>
        <li sec:authorize="isAuthenticated()">
            로그인한 사용자만 볼 수 있음
        </li>
        <li sec:authorize="isAnonymous()">
            로그인하지 않은 사용자만 볼 수 있음
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            ADMIN 권한이 있는 사용자만 볼 수 있음
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
            ADMIN 또는 MANAGER 권한이 있는 사용자만 볼 수 있음
        </li>
        <li sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
            여러 권한 중 하나라도 있으면 표시
        </li>
        <li>
            <span sec:authentication="name"></span> <!-- getUsername() 값 -->
        </li>
        <li>
            <span sec:authentication="principal.user.name"></span> <!-- CustomUserDetails의 getName() -->
        </li>
        <li>
            <span sec:authentication="principal.authorities"></span> <!-- 권한 목록 출력 -->
        </li>
    </ul>
</body>
</html>